uvicorn==0.34.0
fastapi==0.115.11
langchain-core==1.2.1
langchain-community==0.4.1
streamlit==1.51.0
duckduckgo-search==7.5.4
langchain-ollama==1.0.0
langchain-huggingface==1.0.0
langgraph==1.0.3
mcp==1.25.0
psycopg2==2.9.11
python-multipart==0.0.20