LLM_MODEL="AzureChatOpenAI"
TC_LLM_MODEL="AzureChatOpenAI"
EMBEDDING_MODEL_NM="HuggingFace"
API_BASE_URL="http://localhost:11434/"

MCP_DEEP_RESEARCH_URL="http://localhost:9010/sse"
MCP_DEEP_RESEARCH_SYS_MESG="do Deep Research."

MCP_DOC_RAG_URL="http://localhost:9020/sse"
MCP_DOC_RAG_SYS_MESG="RAG Document."

AOAI_API_KEY=
AOAI_API_VERSION=
AOAI_ENDPOINT=
AOAI_DEPLOY_GPT_MINI="gpt-4.1-mini"
AOAI_DEPLOY_GPT="gpt-4.1"
AOAI_DEPLOY_EMBED_3_LARGE=text-embedding-3-large
AOAI_DEPLOY_EMBED_3_SMALL=text-embedding-3-small
AOAI_DEPLOY_EMBED_ADA=text-embedding-ada-002

DB_PATH = "history8.db"
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=
